*{
    margin: 0;
    padding: 0;
}

#navbar {
    /*
    contains a darkened background image for greater clarity
    The nav items have underlined hover effect
    The display grid property is used to position the element in the extended navbar
    */
    height: 400px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("navPhoto.jpeg");  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: grid;
    grid-template-columns: 1fr 2fr;
    
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#logo {
    padding: 0.4em;
    cursor: pointer;
}

#vintage-name {
    grid-column: 1/-1;
    text-align: center;
}

#search-box {
    text-align: center;
    grid-column: 1/-1;
    padding: auto;
}

#navbar-options {
    display: flex;
    justify-content: right;

}

.options {
    margin: 0.5em;
    padding: 0.1em;
    height: auto;
    transition: 0.7s;
}

.options:hover {
    text-decoration: underline;
    cursor: pointer;
}

#search-box > input {
    width: 40%;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 15px;
    padding-left: 10px;
    border: 3px solid #333;
}

.priceCards{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: "#F5F5F5";
}

/*
The price cards are displayed row wise using flex property
*/

.priceCards__title{
    padding: 20px;
    text-align: center;
}

.row{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

.priceCards__cards{
    width: 250px;
    height: 350px;
    border: 1px solid #495371;
    background-color: #FFF1CE;
    border-radius: 15px;
    opacity: 1;
    transition: 0.7s;
}

.priceCards__cards:hover{
    background-color: #FF5C8D;
    opacity: 0.7;
}

.card__image{
    padding: 10px;
    width: 230px;
    height: 230px;
    border-radius: 15px;
}

.card__content{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.footer{
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__content{
    color: white;
    padding-right: 10px;
    text-decoration: none;
}

.footer__uparraow{
    background-color: #FF5C8D;
    border-radius: 25px;
    padding: 10px;
}